/* || Google Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto:wght@400;700&display=swap");

/* || Default Styles  */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* || Header  */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
}

.navbar__logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-links__items {
  display: inline-block; /*so that inline links's padding wont overlap*/
}

/* || Hero  */

.hero-container {
  background-color: #1f2937;
  color: white;
}

.hero__heading {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 5px;
}

.hero__text {
  margin-bottom: 15px;
  padding-right: 40px;
}

.hero__img {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-color: gray;
}

/* || Info  */

.info__heading {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 55px;
  color: #1f2937;
}

.info-container {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.info-box {
  flex: 0 1 160px;
}

.info-box__img {
  height: 160px;
  width: 100%;
  border: 5px solid #3882f6;
  border-radius: 12px;
  margin-bottom: 10px;
}

.info-box__text {
  text-align: center;
  color: #434141;
}

/* || Quote  */

.quote {
  background-color: #e5e7eb;
}

.quote .container {
  padding: 0 130px;
}

.quote__content {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
  color: #1f2937;
}

.quote__author {
  text-align: right;
  font-weight: 800;
  font-size: 20px;
}

/* || Signup  */

.banner {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  padding: 46px 115px;
  border-radius: 10px;
}

.banner > * {
  flex: 1 1 auto;
}

.banner__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 30%;
}

.banner__header {
  color: #f9faf8;
  font-size: 22px;
  margin-bottom: 5px;
}

.banner__text {
  color: #e5e7eb;
  font-size: 17px;
}

/* || Footer  */

footer {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  padding: 30px 0;
}

footer p {
  text-align: center;
}

/* || Utilities */

/* section padding  */

.section-padding {
  padding: 100px 0;
}

/* containers */

.container {
  width: 80%;
  margin: 0 auto;
}

.container--split {
  /* container containg 2 items splitted  */
  display: flex;
}

.split {
  flex-basis: 50%;
}

/* buttons  */
.btn {
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px 34px;
  border-radius: 8px;
  font-weight: 700;
}

.btn--blue {
  background-color: #3882f6;
  color: white;
}

.btn--transparent {
  background-color: transparent;
  color: white;
}

.btn--border-white {
  border: 3px solid white;
}

/* typograpy utilities */

.text-normal {
  color: #e5e7eb;
  font-size: 18px;
}
