/* || Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto:wght@400;700&display=swap");
/* || DEFAULT STYLES  */

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* ||HEADER  */

header {
  padding: 20px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-style: 24px;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-weight: 800;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-links {
  display: inline-block;
}

/* || COMMON GROUND  */

.nav-links,
.hero-text {
  color: #e5e7eb;
  font-size: 18px;
}

/* || HERO  */

.hero-container {
  background-color: #1f2937;
  color: white;
}

.hero {
  padding: 60px 0 100px 0;
}

.hero .container {
  display: flex;
  height: 235px;
  gap: 18px;
}

.split {
  flex-basis: 50%;
  /* border: 2px solid red; */
}

.hero-h-main {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 5px;
}

.hero-text {
  margin-bottom: 15px;
}

.hero-btn {
  border: none;
  background-color: #3882f6;
  color: white;
  font-size: 16px;
  padding: 20px;
  padding: 10px 34px;
  border-radius: 8px;
}

.hero-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  object-fit: cover;
}

/* || INFO  */

.info {
  padding: 60px 0 100px 0;
}

.info-container {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.info-h-main {
  text-align: center;
  font-weight: 36px;
  font-weight: 800;
  margin-bottom: 35px;
}

.info-box {
  flex: 0 0 160px;
}

.info-img {
  height: 160px;
  width: 100%;
  border: 5px solid #3882f6;
  border-radius: 12px;
  margin-bottom: 10px;
}

.info-text {
  text-align: center;
  color: #2e2c2c;
}

/* || QUOTE  */

.quote {
  padding: 100px 0;
  background-color: #e5e7eb;
}

.quote .container {
  color: #1f2937;
  width: 65%;
  margin: 0 auto;
  padding: 0 10px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 5px;
}

.quote-author {
  text-align: right;
  font-weight: 800;
  font-size: 20px;
}

/* || SIGNUP  */

.sign-up {
  padding: 100px 0;
}

.banner {
  background-color: #3882f6;
  display: flex;
  padding: 46px 115px;
  border-radius: 10px;
}

.banner > * {
  flex: 1 1 auto;
}

.banner-right {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-h {
  color: #f9faf8;
  font-size: 22px;
  margin-bottom: 3px;
}

.banner-text {
  color: #e5e7eb;
  font-size: 17px;
}

.banner-btn {
  border: 3px solid white;
  color: white;
  background-color: transparent;
  padding: 10px 32px;
  border-radius: 9px;
}

/* || FOOTER  */

footer {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  padding: 30px 0;
}

footer .container {
  text-align: center;
}

/* || UTILITIES */

.container {
  width: 80%;
  margin: 0 auto;
}
